<div class="desPartnersPanel">
    <div class="desPartnersTitle">
        <span>国内合作方</span>
    </div>
    <div class="desPartnersLine"></div>
    <div class="hospitalPanel">
        <a href="http://www.renji.com/Index.aspx">上海交通大学医学院附属仁济医院南院</a>
        <br/>
        <span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在仁济医院，我们将为您提供优质的医疗服务与诊疗环境，同时让您感受到我们对您的关心、爱护和尊重。我们的学科门类齐全，技术实力雄厚，设备先进一流，我们的专家在临床诊疗工作中积累了丰富的经验，在相关疾病的诊治与研究处于一定的领先水平，因此，能够为您提供最新的诊疗技术和手段，为您和您的家庭送去健康和幸福。
            仁济医院建于1844年，是上海开埠后第一所西医医院。医院目前由东西南北四个院区和上海市肿瘤研究所组成，是一个学科门类齐全，集医疗、教学、科研于一体的综合性三级甲等医院：东院位于浦东陆家嘴金融贸易区内，于1999年10月建成投入使用，占地86875m2，建筑面积206859m2；西院位于黄浦区中央商务区内，毗邻外滩，占地7811m2，建筑面积31959m2；南院位于闵行区浦江镇，紧邻世博家园，于2012年12月建成投入使用，占地68497m2，建筑面积82590 m2；北院位于巨野路灵山路，占地6667 m2，建筑面积17350 m2，于2013年7月全面启用；肿瘤所位于斜土路，总建筑面积7523m2，由癌基因与相关基因国家重点实验室、肿瘤流行病学研究室、十一个相关的研究课题组、辅助部门公共服务平台与《肿瘤》杂志编辑部组成，于2010年10月与仁济医院“院所合一”。
            医院东、西、北三个院区目前总核定床位1400张，南院核定床位600张。2014年医院共有在编职工2495人（不含南院），其中正、副高级职称专家328名；博导57名、硕导148名。医院设有52个临床医技科室：消化科、心内科、风湿病科、核医学科、妇产科、妇科肿瘤科、泌尿科、肾脏科、麻醉科、疼痛科、重症医学科、放射科、胃肠外科、肝脏外科、胆胰外科、乳腺外科、血管外科、头颈外科、血液科、老年病科、超声医学科、神经内科、内分泌科、骨科、呼吸科、耳鼻咽喉科、整形外科、眼科、生殖医学科、放射诊疗科、药剂科、健康保健中心、输血科、检验科、儿科、康复科、口腔科、皮肤科、肿瘤科、急诊科、胸外科、心血管外科、病理科、中医科、营养科、内科门诊、感染科、肿瘤介入科、功能神经外科、变态反应科（过敏科）、临床干细胞中心、中心实验室、生物样本库。
            近年来，医院申请到的科研项目及专利逐年递增，包括国家级的973计划、863计划、国家自然基金（重大、重点、创新研究群体）项目等，其中2014年科研经费达1.08亿元。医院还获得多项国家科技进步奖、中华医学科技奖、高等学校科技进步奖等；先后共有几百人次入围各级人才培养计划，包括973首席科学家、长江特聘教授、卫生部有突出贡献中青年专家、国家杰出青年、上海市领军人才等。医院与美国、加拿大、法国、比利时、德国等近十个国家的二十多所医学院校建立了学术交流和友好合作关系。
        </span>
    </div>
    <div class="hospitalPanel">
        <a href="http://www.jd120.com/index.asp">广州暨南大学附属华侨医院</a>
        <br/>
        <span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;暨南大学附属第一医院（又名广州华侨医院、暨南大学第一临床医学院），是一所集医疗、教学、科研、预防、保健和康复于一体的国家“211工程”重点大学直属附属医院，先后获评为“三级甲等医院”、“爱婴医院”、“国际SOS合作医院”、“广东省文明医院”、“全国侨办系统先进集体”、“广州市社会保险定点医疗机构信用等级AAA医院”和“全国优质护理服务考核优秀医院”。2010年至2014年，医院连续五年被中国健康年度总评榜评选为“广州十佳三甲医院”。

            医院院本部占地面积4.7万余平方米，建筑面积11万余平方米。医院共有2个院区（院本部、东圃分院）、4个门诊部（院本部门诊、东圃分院门诊、暨大校门诊部、暨大南校区门诊部），开放病床2000张。现有职工2053人，其中卫生专业技术人员1838名，高级职称244人，享受国务院特殊津贴专家5人，博士生导师50人，硕士生导师149人，获硕士、博士学位人员511人，留学归国人员160余人，拥有一批在国内具有影响的医学专家和骨干。

            医院学科建设积淀雄厚，拥有临床医学一级学科博士点，临床医学和护理学2个一级学科硕士点，具有临床医学博士专业学位授权和博士后科研流动站。现有15个省部级重点学科和临床重点专科。获国家科学技术进步二等奖1项，省部级科研成果一等奖5项、二等奖24项、三等奖44项。医院重视教学改革，获批国家教育部、卫计委第一批临床医学硕士专业学位研究生培养模式改革试点单位，第一批卓越医生教育培养计划项目试点单位，国家全科医生规范化培养基地，国家住院医师规范化培训基地和广东省第一批专科医师培训基地。临床技能综合培训中心被教育部授予国家大学生校外实践教育基地，同时获批广东省实验教学示范中心。

            医院特色医疗项目优势明显。拥有外科学（含胃肠外科、肝胆外科、骨科、泌尿外科-男性科、乳腺外科、心胸外科、整形美容激光科、神经外科）、眼科学、影像医学与核医学、肾内科、产科、儿科、神经内科、康复科、眼科、口腔科、临床护理、中医等省部级重点学科和临床重点专科。微创外科、骨科、介入血管外科、妇产科、心血管内科、血液透析中心、胎儿医学科、精神医学科等处于国内或省内先进水平。

            医院拥有大批高端的诊疗设施：拥有最先进的PET/CT-3.0T MR多模式诊断系统、320排640层动态容积CT、数字一体化介入复合手术室、符合国际标准的层流手术间（配有当前国际最先进的医疗设备和仪器）、直线加速器和伽玛刀等肿瘤放射治疗装置、全自动信息化临床检验流水线等。医院以患者为中心，在移动互联网就医服务方面屡有重大创新举措：在国内率先开发“就医助理APP”；与支付宝合作“未来医院”，国内首次实现医保实时结算功能；微信公共平台上线，成为广州首家支持微信挂号+支付的三甲医院微信服务平台。同时全面推广使用移动医疗平台，通过医院现有信息化系统的移动性扩展和延伸，依托平板电脑、条码、Wi-Fi、RFID等主流信息化技术辅助临床医疗，极大提高了医疗效率和医疗质量。

            医院设有按照星级酒店标准配置的综合区（VIP病房），拥有各项高端医疗设施与技术，可满足国内外高端患者的需求。医院设有国际医疗部，可为各类驻华机构人员、外宾、港澳台同胞及VIP客户提供医疗救治、保健、康复服务。
        </span>
    </div>

    <div class="hospitalPanel">
        <a href="http://www.byfy.cn/">山东滨州医学院</a>
        <br/>
        <span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;滨州医学院附属医院是山东省省属大型综合性三级甲等医院，1977年10月开诊，1995年5月被确认为三级甲等医院，2013年7月，我院被山东省卫生厅正式命名为第二周期三级甲等医院,2014年8月，被山东省卫计委确定为省级区域医疗中心创建单位。建院以来，医院坚持以医疗为主体，以教学、科研为两翼，各项事业实现了跨越发展，牢固确立了在鲁北地区的医疗、教学、科研、康复和急救中心地位。

            医院占地面积34万平方米，目前开放床位1850张，资产总额15.4亿元。设有49个临床科室、19个医技科室和临床技能实训中心、临床医学实验室。拥有双源CT、MR、LA、ECT、胶囊内镜、超声内镜等万元以上设备3695台（件），医疗仪器设备总值5.6亿元。现有医护教职员工3224余人，其中副高以上职称400余人，硕士博士研究生1000余人；享受国务院特殊津贴者4人，“泰山学者”特聘教授4人，博士、硕士生导师118人。多名职工先后获得全国五一劳动奖章、全国优秀教师、全国优秀中医人才、山东省十佳医师、山东省教学名师等称号。

            医院坚持医疗工作主体地位，狠抓医疗质量管理，提高诊疗服务水平，2014年总诊疗128万人次，出院病人7.9万人次，开展手术（大）3.2万例，床位使用率111.5%，平均住院日9.1天。医院相继开展了器官移植、冠状动脉球囊扩张、ECMO（体外膜肺氧和）、射频消融治疗顽固性心律失常、临床营养支持、骨关节置换、缺血性脑血管病超早期介入溶栓、试管婴儿、超低体重新生儿的救治等技术。2004年10月，成功完成全国首例同种异体单肺移植并同期心内畸形矫治治疗终末期先心病手术；2011年10月，成功植入山东省首例抗核磁共振心脏起搏器。相继推行了“星级护理”、“温馨服务”和“3H”规范化护理服务，2010年“亲情护理，完美服务”护理服务获全省“两好一满意”十大服务品牌。

            医院坚持“科教兴院”战略，全面落实教学工作重点地位，深化临床教学改革，不断提高教学水平和育人质量。现有临床医学、护理学2个一级学科硕士学位授权学科，29个二级学科硕士学位授权学科,2013年开始与山东大学联合举办在职申请临床医学博士专业学位研究生课程培训。医院承担着17所教学医院、近3300名学生的临床教学工作，年授课4万余课时，为社会培养和输送了大批优秀医学人才。第二届、第三届、第四届、第五届、第六届全国高等医学院校大学生临床技能大赛总决赛，分获三等奖（华东赛区一等奖）、二等奖（华东赛区二等奖）、二等奖（华东赛区一等奖）、三等奖（华东赛区一等奖）、二等奖（华东赛区一等奖）。

            医院坚持“科技强院、重点带动”战略，提高科研和学科建设水平。现有国家中医药管理局“十二五”中医药重点学科1个、“泰山学者”设岗学科4个、省级重点实验室培育基地4个、省“十二五”重点学科2个、省医药卫生重点学科2个、省临床重点专科18个。近3年，承担国家级科研项目20项、省部级科研项目41项、厅局级科研项目71项；获得山东省科技进步奖2项；发表论文1200余篇，SCI收录48篇；出版著作94部；获得授权专利251项。

            医院坚持开放办院，不断提高对外兼容能力。先后与国内多家著名医疗机构及美国凯斯西储大学医学院、HOPE儿童医院，韩国加图立大学首尔圣母医院、全北大学医院，澳大利亚悉尼韦思迈儿童医院、悉尼皇家北岸医院，奥地利维也纳威廉明娜医院、鲁道夫基金会医院、多瑙医院等建立了友好合作关系，在项目合作、人员培训等方面取得了实质性突破。

            多年来，医院秉承“仁心妙术”院训，全心全意为人民健康保驾护航，始终冲锋在非典防控、手足口病防治、甲型H1N1流感防控、抗震救灾、人感染禽流感防范等重大突发事件的最前线。深入开展卫生强基和对口支援活动，采取专科合作、技术输出、人才支援等形式，积极帮扶基层医疗机构13所，开展乡医培训工程，免费为乡村医生进行培训，努力提高基层医院的管理和服务能力；先后派出20名业务骨干分赴坦桑尼亚、塞舌尔、新疆建设兵团等地执行卫生援助任务。努力发挥慈善医院的作用，先后开展“微笑列车”救助唇腭裂患儿、“善行滨州，爱心复明”工程、“回报社会献爱心”、“慈善爱心捐助”、血液透析补助等公益活动。

            医院以精湛的医术、规范的管理、良好的形象赢得了社会广泛赞誉，是国家卫计委万名护理人才培训基地、脑卒中筛查与防治基地医院、临床路径试点医院，中国红十字基金会“天使阳光基金”定点医院，先后被授予全国百姓放心示范医院、全国卫生系统廉洁行医树新风先进单位、全国诚信示范医院，山东省文明单位、山东省卫生系统先进集体、山东省医疗质量管理效益年活动先进单位、医院管理先进集体、抗震救灾先进集体、信息化建设先进集体，滨州市慈善医院、首届十大慈善单位、首届十佳博爱单位等荣誉称号。

            展望未来，医院将紧紧抓住黄河三角洲综合开发建设的战略机遇，继续坚持以病人为中心，以质量为核心，以群众满意为目标，着力推进内涵建设，努力提升医疗质量和服务水平，为早日建成黄河三角洲医学中心、努力创建国内知名的现代化大型医院而努力奋斗。
        </span>
    </div>
</div>