<div class="aboutUsPanel">
    <div class="aboutUsTitle">
        <span>北美远程医疗咨询中心</span>
    </div>
    <div class="aboutUsLine"></div>
    <div class="introduce">
        <span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北美远程医疗咨询中心由一群目前在美国行医的华人医生组成。我们中间绝大多数人都在国内受过良好的医学教育，并在国内顶尖的医院和科室里学习工作过，再经过美国标准化的住院医师培训，其中不乏在国外顶尖的医院和科室接受过专科医师训练或工作的一线临床医学专家教授。今天，我们乘着医疗改革的东风，进军国内中高端医疗市场，让国内的患者在自己的家门口就能享受到符合美国标准的第一流医疗服务。同时，我们还将积极参与国内方兴未艾的住院医师和专科医师规培，为祖国医疗事业发展作出自己的贡献。
            仁济医院建于1844年，是上海开埠后第一所西医医院。医院目前由东西南北四个院区和上海市肿瘤研究所组成，是一个学科门类齐全，集医疗、教学、科研于一体的综合性三级甲等医院：东院位于浦东陆家嘴金融贸易区内，于1999年10月建成投入使用，占地86875m2，建筑面积206859m2；西院位于黄浦区中央商务区内，毗邻外滩，占地7811m2，建筑面积31959m2；南院位于闵行区浦江镇，紧邻世博家园，于2012年12月建成投入使用，占地68497m2，建筑面积82590 m2；北院位于巨野路灵山路，占地6667 m2，建筑面积17350 m2，于2013年7月全面启用；肿瘤所位于斜土路，总建筑面积7523m2，由癌基因与相关基因国家重点实验室、肿瘤流行病学研究室、十一个相关的研究课题组、辅助部门公共服务平台与《肿瘤》杂志编辑部组成，于2010年10月与仁济医院“院所合一”。
            医院东、西、北三个院区目前总核定床位1400张，南院核定床位600张。2014年医院共有在编职工2495人（不含南院），其中正、副高级职称专家328名；博导57名、硕导148名。医院设有52个临床医技科室：消化科、心内科、风湿病科、核医学科、妇产科、妇科肿瘤科、泌尿科、肾脏科、麻醉科、疼痛科、重症医学科、放射科、胃肠外科、肝脏外科、胆胰外科、乳腺外科、血管外科、头颈外科、血液科、老年病科、超声医学科、神经内科、内分泌科、骨科、呼吸科、耳鼻咽喉科、整形外科、眼科、生殖医学科、放射诊疗科、药剂科、健康保健中心、输血科、检验科、儿科、康复科、口腔科、皮肤科、肿瘤科、急诊科、胸外科、心血管外科、病理科、中医科、营养科、内科门诊、感染科、肿瘤介入科、功能神经外科、变态反应科（过敏科）、临床干细胞中心、中心实验室、生物样本库。
            近年来，医院申请到的科研项目及专利逐年递增，包括国家级的973计划、863计划、国家自然基金（重大、重点、创新研究群体）项目等，其中2014年科研经费达1.08亿元。医院还获得多项国家科技进步奖、中华医学科技奖、高等学校科技进步奖等；先后共有几百人次入围各级人才培养计划，包括973首席科学家、长江特聘教授、卫生部有突出贡献中青年专家、国家杰出青年、上海市领军人才等。医院与美国、加拿大、法国、比利时、德国等近十个国家的二十多所医学院校建立了学术交流和友好合作关系。
        </span>
    </div>

    <div class="ServiceConcept">
        <span class="ServiceConceptTitle">
            我们的服务理念
        </span>
         <span class="ServiceConceptDetail">
            看病方便：家门口就能享受美国医生的一流服务；
             <br/>
            收费合理：避免重复检查北上广就医不必要费用；
             <br/>
            诊治标准化：减少误诊误治和贻误最佳治疗时机；
             <br/>
            病人自主：详细讨论病情帮助病人选择治疗方案；
             <br/>
            长期随防：保持良好医患关系随时掌握病情进展。
         </span>
    </div>
</div>