<div class="USAExpertsContaniter">
    <div class="headerTitle">
         <span>美国专家</span>
    </div>

    <div class="chinaSubjects">
        <a class="allSubjectsTitle">全科/家庭科</a>

        <p class="doctorName">彭庆双</p>

        <span>
            全科／家庭科是一个面向社区与家庭，整合临床医学、预防医学、康复医学以及人文社会学科相关内容于一体的综合性医学专业学科。
            全科／家庭科涵盖了各种年龄、性别、各个器官系统以及各类疾病，
            其主旨是强调以人为中心、以家庭为单位、以社区为范围、以整体健康的维护与促进为方向的长期综合性、负责式照顾，并将个体与群体健康融为一体。
        </span>
    </div>

    <!--<div class="USAExperts">-->
        <!--<a>美国专家</a>-->
        <!---->
    <!--</div>-->

</div>