.aboutUsPanel .aboutUsTitle {
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
}
.aboutUsPanel .aboutUsTitle > span {
  font-size: 20px;
}
.aboutUsPanel .aboutUsLine {
  height: 5px;
  background-color: #0088D1;
  width: 100%;
}
.aboutUsPanel .introduce {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 25px;
}
.aboutUsPanel .introduce > span {
  font-size: 16px;
}
.aboutUsPanel .ServiceConcept {
  text-align: center;
  margin-top: 10px;
}
.aboutUsPanel .ServiceConcept .ServiceConceptTitle {
  font-size: 24px;
  color: red;
  display: block;
  margin-bottom: 15px;
}
.aboutUsPanel .ServiceConcept .ServiceConceptDetail {
  font-size: 20px;
  line-height: 25px;
}
