.loginPanel{
  form{
    >div{
      >span{
        width: 45px;
        display: inline-block;
      }
    }
    .loginBtn{
      text-align: center;
      button{
        width: 200px;
      }
    }
  }
}