<div class="loginPanel">
    <form class="loginForm" onsubmit="javascript:return false;">
        <div class="userName" name="userName">
            <span>用户名:</span>
            <input class="userNameInput" type="text" name="userId"/>
        </div>

        <div class="password">
            <span>密码:</span>
            <input class="passwordInput" type="password" name="pwd"/>
        </div>

        <div class="errorPanel">
            <span class="errorMsg"></span>
        </div>

        <div class="loginBtn">
            <button class="btn btn-small btn-primary login">登陆</button>
        </div>
    </form>
</div>